In [1]:
%pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\mamou\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 1)) (2.1.3)
Requirement already satisfied: openpyxl in c:\users\mamou\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 2)) (3.1.2)
Requirement already satisfied: lxml in c:\users\mamou\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 3)) (5.2.2)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\mamou\appdata\local\programs\python\python312\lib\site-packages (from pandas->-r requirements.txt (line 1)) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mamou\appdata\roaming\python\python312\site-packages (from pandas->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mamou\appdata\local\programs\python\python312\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\mamou\appdata\local\programs\python\python312\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\mamou\appdata\local\programs\python\python312\lib\site-packages (from openpyxl->-r requirements.txt (line 2)) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\mamou\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data_medals_path = 'D:\ProjetPerso\Projet_Hackathon_groupe\IPSSI_hackaton_equipe_9\data\olympic_medals.xlsx'
data_athletes_path = 'D:\ProjetPerso\Projet_Hackathon_groupe\IPSSI_hackaton_equipe_9\data\olympic_athletes.json'
data_results_path = 'IPSSI_hackaton_equipe_9/data/olympic_results.html'
data_hosts_path = 'D:\ProjetPerso\Projet_Hackathon_groupe\IPSSI_hackaton_equipe_9\data\olympic_hosts.xml'

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:4: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:4: SyntaxWarning: invalid escape sequence '\P'
C:\Users\mamou\AppData\Local\Temp\ipykernel_18972\4027180642.py:1: SyntaxWarning: invalid escape sequence '\P'
  data_medals_path = 'D:\ProjetPerso\Projet_Hackathon_groupe\IPSSI_hackaton_equipe_9\data\olympic_medals.xlsx'
C:\Users\mamou\AppData\Local\Temp\ipykernel_18972\4027180642.py:2: SyntaxWarning: invalid escape sequence '\P'
  data_athletes_path = 'D:\ProjetPerso\Projet_Hackathon_groupe\IPSSI_hackaton_equipe_9\data\olympic_athletes.json'
C:\Users\mamou\AppData\Local\Temp\ipykernel_18972\4027180642.py:4: SyntaxWarning: invalid escape sequence '\P'
  data_hosts_path = 'D:\ProjetPerso\Projet_Hackathon_groupe\IPSSI_hackaton_equipe_9\data\olympic_hosts.xml'

In [4]:
import pandas as pd

df_medals = pd.read_excel(data_medals_path)
df_athletes = pd.read_json(data_athletes_path)
# df_results = pd.read_html(data_results_path)
df_hosts = pd.read_xml(data_hosts_path)

In [5]:
df_medals.head()

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [6]:
df_athletes.head(50)

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,None,None
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,None,None
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,None,None
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,None,None
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,None,None
5,https://olympics.com/en/athletes/matt-graham,Matt GRAHAM,3,Sochi 2014,1994.0,\n\n\n1\n\nS\n\n,None
6,https://olympics.com/en/athletes/ikuma-horishima,Ikuma HORISHIMA,2,PyeongChang 2018,1997.0,\n\n\n1\n\nB\n\n,None
7,https://olympics.com/en/athletes/daichi-hara,Daichi HARA,2,PyeongChang 2018,1997.0,\n\n\n1\n\nB\n\n,None
8,https://olympics.com/en/athletes/laurent-dumais,Laurent DUMAIS,1,Beijing 2022,1996.0,None,None
9,https://olympics.com/en/athletes/james-matheson,James MATHESON,2,PyeongChang 2018,1995.0,None,None
10,https://olympics.com/en/athletes/pavel-kolmakov,Pavel KOLMAKOV,3,Sochi 2014,1996.0,None,None
11,https://olympics.com/en/athletes/kosuke-sugimoto,Kosuke SUGIMOTO,1,Beijing 2022,1994.0,None,None
12,https://olympics.com/en/athletes/brodie-summers,Brodie SUMMERS,3,Sochi 2014,1993.0,None,None
13,https://olympics.com/en/athletes/severi-vierela,Severi VIERELA,1,Beijing 2022,2001.0,None,None
14,https://olympics.com/en/athletes/marco-tade,Marco TADE,1,Beijing 2022,1995.0,None,None
15,https://olympics.com/en/athletes/william-feneley,William FENELEY,1,Beijing 2022,1999.0,None,None
16,https://olympics.com/en/athletes/mikael-kingsbury,Mikael KINGSBURY,3,Sochi 2014,1992.0,\n\n\n1\n\nG\n\n\n\n2\n\nS\n\n,\n\n\nIn the period between his elite debut in...
17,https://olympics.com/en/athletes/so-matsuda,So MATSUDA,1,Beijing 2022,1999.0,None,None
18,https://olympics.com/en/athletes/wallberg,Walter WALLBERG,2,PyeongChang 2018,2000.0,\n\n\n1\n\nG\n\n,None
19,https://olympics.com/en/athletes/bradley-wilson,Bradley WILSON,3,Sochi 2014,1992.0,None,None
20,https://olympics.com/en/athletes/yang-zhao,Yang ZHAO,1,Beijing 2022,1992.0,None,None
21,https://olympics.com/en/athletes/benjamin-cavet,Benjamin CAVET,3,Sochi 2014,1994.0,None,None
22,https://olympics.com/en/athletes/cole-mcdonald,Cole MCDONALD,1,Beijing 2022,2003.0,None,None
23,https://olympics.com/en/athletes/nick-page,Nick PAGE,1,Beijing 2022,2002.0,None,None
24,https://olympics.com/en/athletes/sacha-theocharis,Sacha THEOCHARIS,2,PyeongChang 2018,1990.0,None,None
25,https://olympics.com/en/athletes/jimi-salonen,Jimi SALONEN,3,Sochi 2014,1994.0,None,None
26,https://olympics.com/en/athletes/nikita-novitskii,Nikita NOVITSKII,1,Beijing 2022,2000.0,None,None
27,https://olympics.com/en/athletes/nikita-andreev,Nikita ANDREEV,1,Beijing 2022,2004.0,None,None
28,https://olympics.com/en/athletes/ludvig-fjalls...,Ludvig FJALLSTROM,3,Sochi 2014,1993.0,None,None
29,https://olympics.com/en/athletes/oskar-elofsson,Oskar ELOFSSON,1,Beijing 2022,1998.0,None,None
30,https://olympics.com/en/athletes/bingqiang-mao,Bingqiang MAO,2,PyeongChang 2018,2001.0,None,None
31,https://olympics.com/en/athletes/kevin-rolland,Kevin ROLLAND,3,Sochi 2014,1989.0,\n\n\n1\n\nB\n\n,None
32,https://olympics.com/en/athletes/noah-bowman,Noah BOWMAN,3,Sochi 2014,1992.0,None,None
33,https://olympics.com/en/athletes/robin-briguet,Robin BRIGUET,2,PyeongChang 2018,1999.0,None,None
34,https://olympics.com/en/athletes/nico-porteous,Nico PORTEOUS,2,PyeongChang 2018,2001.0,\n\n\n1\n\nG\n\n\n\n1\n\nB\n\n,None
35,https://olympics.com/en/athletes/seung-hun-lee,Seung Hun LEE,1,Beijing 2022,2005.0,None,None
36,https://olympics.com/en/athletes/david-wise,David WISE,3,Sochi 2014,1990.0,\n\n\n2\n\nG\n\n\n\n1\n\nS\n\n,\n\n\nThe favourite heading into the inaugural...
37,https://olympics.com/en/athletes/aaron-blunck,Aaron BLUNCK,3,Sochi 2014,1996.0,None,None
38,https://olympics.com/en/athletes/brendan-mackay,Brendan MACKAY,1,Beijing 2022,1997.0,None,None
39,https://olympics.com/en/athletes/ben-harrington,Ben HARRINGTON,1,Beijing 2022,2001.0,None,None
40,https://olympics.com/en/athletes/sun-jingbo,Jingbo SUN,1,Beijing 2022,2003.0,None,None
41,https://olympics.com/en/athletes/alex-ferreira,Alex FERREIRA,2,PyeongChang 2018,1994.0,\n\n\n1\n\nS\n\n\n\n1\n\nB\n\n,None
42,https://olympics.com/en/athletes/miguel-porteous,Miguel PORTEOUS,2,PyeongChang 2018,1999.0,None,None
43,https://olympics.com/en/athletes/brendan-newby,Brendan NEWBY,2,PyeongChang 2018,1996.0,None,None
44,https://olympics.com/en/athletes/gus-kenworthy,Gus KENWORTHY,3,Sochi 2014,1991.0,\n\n\n1\n\nS\n\n,\n\n\nAFP World Championships overall titles i...
45,https://olympics.com/en/athletes/gustav-legnavsky,Gustav LEGNAVSKY,1,Beijing 2022,2005.0,None,None
46,https://olympics.com/en/athletes/haizhuo-wang,Haizhuo WANG,1,Beijing 2022,2003.0,None,None
47,https://olympics.com/en/athletes/marco-ladner,Marco LADNER,3,Sochi 2014,1998.0,None,None
48,https://olympics.com/en/athletes/binghan-he,Binghan HE,1,Beijing 2022,2003.0,None,None
49,https://olympics.com/en/athletes/birk-irving,Birk IRVING,1,Beijing 2022,1999.0,None,None

In [7]:
df_hosts.head(10)

,index,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014
5,5,london-2012,2012-08-12T19:00:00Z,2012-07-27T07:00:00Z,Great Britain,London 2012,Summer,2012
6,6,vancouver-2010,2010-02-28T04:00:00Z,2010-02-12T16:00:00Z,Canada,Vancouver 2010,Winter,2010
7,7,beijing-2008,2008-08-24T12:00:00Z,2008-08-08T00:00:00Z,China,Beijing 2008,Summer,2008
8,8,turin-2006,2006-02-26T19:00:00Z,2006-02-10T07:00:00Z,Italy,Turin 2006,Winter,2006
9,9,athens-2004,2004-08-29T18:00:00Z,2004-08-13T06:00:00Z,Greece,Athens 2004,Summer,2004

In [8]:
# get all countries using df_medals
countries = df_medals['country_name'].unique()
print(len(countries), countries[0:5])

154 ['Italy' 'Norway' 'Sweden' 'Great Britain' 'Japan']

In [9]:
# get all medal type using df_medals
medal_types = df_medals['medal_type'].unique()
print(medal_types)

['GOLD' 'SILVER' 'BRONZE']

In [10]:
# get all locations using df_athletes
locations = df_athletes['first_game'].unique()
print(len(locations), locations[0:5])

54 ['Beijing 2022' 'PyeongChang 2018' 'Sochi 2014' 'Vancouver 2010'
 'Atlanta 1996']

In [11]:
# get all athletes using df_athletes
athletes = df_athletes['athlete_full_name'].unique()
print(len(athletes), athletes[0:5])

75480 ['Cooper WOODS-TOPALOVIC' 'Felix ELOFSSON' 'Dylan WALCZYK' 'Olli PENTTALA'
 'Dmitriy REIKHERD']

In [12]:
# get all disciplines using df_athletes
disciplines = df_medals['discipline_title'].unique()
print(len(disciplines), disciplines[0:5])

86 ['Curling' 'Freestyle Skiing' 'Short Track Speed Skating' 'Snowboard'
 'Ski Jumping']

In [13]:
# Join the two dataframes with 'athlete_url'
df = pd.merge(df_medals, df_athletes, on='athlete_url')
df.head()

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name_x,country_name,country_code,country_3_letter_code,athlete_full_name_y,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA,Stefania CONSTANTINI,1,Beijing 2022,1999.0,\n\n\n1\n\nG\n\n,None
1,1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA,Amos MOSANER,2,PyeongChang 2018,1995.0,\n\n\n1\n\nG\n\n,None
2,2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR,Kristin SKASLIEN,2,PyeongChang 2018,1986.0,\n\n\n1\n\nS\n\n\n\n1\n\nB\n\n,None
3,1700,Curling,pyeongchang-2018,Mixed Doubles,Mixed,BRONZE,GameTeam,Norway team,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR,Kristin SKASLIEN,2,PyeongChang 2018,1986.0,\n\n\n1\n\nS\n\n\n\n1\n\nB\n\n,None
4,3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR,Magnus NEDREGOTTEN,2,PyeongChang 2018,1990.0,\n\n\n1\n\nS\n\n\n\n1\n\nB\n\n,None

In [14]:
# clean athlete medals

# ajouter un colone nb_gold, nb_silver, nb_bronze et les remplir en fonction de (athlete_medals)
# \n\n\n1\n\nG\n\n -> 1 gold medal
# \n\n\n1\n\nS\n\n\n\n1\n\nB\n\n -> 1 silver medal, 1 bronze medal
# supprimer les '\n' puis convertir 2G3S1B en 2 gold, 3 silver, 1 bronze
test = df['athlete_medals'][2]
test = test.replace('\n', '')
# regex to find all (*d)G in the test
import re
gold = re.findall(r'(\d)G', test)
silver = re.findall(r'(\d)S', test)
bronze = re.findall(r'(\d)B', test)

gold = int(gold[0]) if len(gold) > 0 else 0
silver = int(silver[0]) if len(silver) > 0 else 0
bronze = int(bronze[0]) if len(bronze) > 0 else 0

print(test, gold, silver, bronze)

def extract_medals(athletes_medals_str) -> str:
    if (athletes_medals_str == None):
        return 0, 0, 0

    athletes_medals_str = athletes_medals_str.replace('\n', '')
    gold = re.findall(r'(\d)G', athletes_medals_str)
    silver = re.findall(r'(\d)S', athletes_medals_str)
    bronze = re.findall(r'(\d)B', athletes_medals_str)

    gold = int(gold[0]) if len(gold) > 0 else 0
    silver = int(silver[0]) if len(silver) > 0 else 0
    bronze = int(bronze[0]) if len(bronze) > 0 else 0

    return gold, silver, bronze

1S1B 0 1 1

In [15]:
df['nb_gold'] = df['athlete_medals'].apply(lambda x: extract_medals(x)[0])
df['nb_silver'] = df['athlete_medals'].apply(lambda x: extract_medals(x)[1])
df['nb_bronze'] = df['athlete_medals'].apply(lambda x: extract_medals(x)[2])

print(len(df))

17009

In [16]:
# remove all rows with first_game None
df = df[df['first_game'].notna()]

df['year'] = df['first_game'].apply(lambda x: x.split(' ')[-1])

In [17]:
# remove 'athlete_medals' column
df.drop(columns=['athlete_medals'], inplace=True)
# remove 'bio' column
df.drop(columns=['bio'], inplace=True)
# remove country_code, country_3_letter_code
df.drop(columns=['country_code', 'country_3_letter_code'], inplace=True)
# remove 'participant_title'
df.drop(columns=['participant_title'], inplace=True)
# remove 'medal_type'
df.drop(columns=['medal_type'], inplace=True)
# remove slug_game
df.drop(columns=['slug_game'], inplace=True)
# remove first column (	Unnamed: 0	)
df.drop(columns=['Unnamed: 0'], inplace=True)
# remove 'athlete_url'
df.drop(columns=['athlete_url'], inplace=True)
# remove 'athlete_full_name_y'
df.drop(columns=['athlete_full_name_y'], inplace=True)

# rename 'athlete_full_name_x' to 'athlete_full_name'
df.rename(columns={'athlete_full_name_x': 'athlete_full_name'}, inplace=True)

df.head()

,discipline_title,event_title,event_gender,participant_type,athlete_full_name,country_name,games_participations,first_game,athlete_year_birth,nb_gold,nb_silver,nb_bronze,year
0,Curling,Mixed Doubles,Mixed,GameTeam,Stefania CONSTANTINI,Italy,1,Beijing 2022,1999.0,1,0,0,2022
1,Curling,Mixed Doubles,Mixed,GameTeam,Amos MOSANER,Italy,2,PyeongChang 2018,1995.0,1,0,0,2018
2,Curling,Mixed Doubles,Mixed,GameTeam,Kristin SKASLIEN,Norway,2,PyeongChang 2018,1986.0,0,1,1,2018
3,Curling,Mixed Doubles,Mixed,GameTeam,Kristin SKASLIEN,Norway,2,PyeongChang 2018,1986.0,0,1,1,2018
4,Curling,Mixed Doubles,Mixed,GameTeam,Magnus NEDREGOTTEN,Norway,2,PyeongChang 2018,1990.0,0,1,1,2018

In [18]:
print(len(df))

17008

In [19]:
df.isnull().sum().sort_values(ascending=False)

athlete_year_birth      184
discipline_title          0
event_title               0
event_gender              0
participant_type          0
athlete_full_name         0
country_name              0
games_participations      0
first_game                0
nb_gold                   0
nb_silver                 0
nb_bronze                 0
year                      0
dtype: int64

In [20]:
# Calculer la moyenne des valeurs non nulles dans la colonne 'athlete_year_birth'
mean_birth_year = df['athlete_year_birth'].mean()

# Remplacer les valeurs null par la moyenne
df['athlete_year_birth'].fillna(mean_birth_year, inplace=True)

# Convertir les valeurs en entiers (si elles ne le sont pas dj)
df['athlete_year_birth'] = df['athlete_year_birth'].astype(int)

In [21]:
# Convertir la colonne 'year' en type entier (int)
df['year'] = df['year'].astype(int)

In [22]:
# # Calcul de l'ge par rapport  l'anne de participation
# df['age_at_participation'] = df['year'] - df['athlete_year_birth']

In [23]:
df['Medals'] = df['nb_gold'] + df['nb_silver'] + df['nb_bronze']

In [24]:
df.isnull().sum().sort_values(ascending=False)

discipline_title        0
event_title             0
event_gender            0
participant_type        0
athlete_full_name       0
country_name            0
games_participations    0
first_game              0
athlete_year_birth      0
nb_gold                 0
nb_silver               0
nb_bronze               0
year                    0
Medals                  0
dtype: int64

In [25]:
df.dtypes

discipline_title        object
event_title             object
event_gender            object
participant_type        object
athlete_full_name       object
country_name            object
games_participations     int64
first_game              object
athlete_year_birth       int32
nb_gold                  int64
nb_silver                int64
nb_bronze                int64
year                     int32
Medals                   int64
dtype: object

In [26]:
df.head()

,discipline_title,event_title,event_gender,participant_type,athlete_full_name,country_name,games_participations,first_game,athlete_year_birth,nb_gold,nb_silver,nb_bronze,year,Medals
0,Curling,Mixed Doubles,Mixed,GameTeam,Stefania CONSTANTINI,Italy,1,Beijing 2022,1999,1,0,0,2022,1
1,Curling,Mixed Doubles,Mixed,GameTeam,Amos MOSANER,Italy,2,PyeongChang 2018,1995,1,0,0,2018,1
2,Curling,Mixed Doubles,Mixed,GameTeam,Kristin SKASLIEN,Norway,2,PyeongChang 2018,1986,0,1,1,2018,2
3,Curling,Mixed Doubles,Mixed,GameTeam,Kristin SKASLIEN,Norway,2,PyeongChang 2018,1986,0,1,1,2018,2
4,Curling,Mixed Doubles,Mixed,GameTeam,Magnus NEDREGOTTEN,Norway,2,PyeongChang 2018,1990,0,1,1,2018,2

In [27]:
df.columns.tolist()

['discipline_title',
 'event_title',
 'event_gender',
 'participant_type',
 'athlete_full_name',
 'country_name',
 'games_participations',
 'first_game',
 'athlete_year_birth',
 'nb_gold',
 'nb_silver',
 'nb_bronze',
 'year',
 'Medals']

In [28]:
df_hosts.head()

,index,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

In [29]:
df_hosts.columns.tolist()

['index',
 'game_slug',
 'game_end_date',
 'game_start_date',
 'game_location',
 'game_name',
 'game_season',
 'game_year']

In [30]:
df.isnull().sum()

discipline_title        0
event_title             0
event_gender            0
participant_type        0
athlete_full_name       0
country_name            0
games_participations    0
first_game              0
athlete_year_birth      0
nb_gold                 0
nb_silver               0
nb_bronze               0
year                    0
Medals                  0
dtype: int64

In [31]:
# Fusionner les DataFrames en utilisant la colonne 'year' du premier DataFrame et la colonne 'game_year' du deuxime DataFrame comme cls de fusion
df_merge = pd.merge(df, df_hosts, left_on='year', right_on='game_year', how='inner')

df_merge.head()

,discipline_title,event_title,event_gender,participant_type,athlete_full_name,country_name,games_participations,first_game,athlete_year_birth,nb_gold,...,year,Medals,index,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,Curling,Mixed Doubles,Mixed,GameTeam,Stefania CONSTANTINI,Italy,1,Beijing 2022,1999,1,...,2022,1,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,Curling,Mixed Doubles,Mixed,GameTeam,Almida DE VAL,Sweden,1,Beijing 2022,1997,0,...,2022,1,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
2,Curling,Mixed Doubles,Mixed,GameTeam,Oskar ERIKSSON,Sweden,4,Beijing 2022,1991,1,...,2022,4,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
3,Freestyle Skiing,Men's Freeski Big Air,Men,Athlete,Birk RUUD,Norway,1,Beijing 2022,2000,1,...,2022,1,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
4,Freestyle Skiing,Men's Freeski Big Air,Men,Athlete,Colby STEVENSON,United States of America,1,Beijing 2022,1997,0,...,2022,1,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022

In [32]:
# Diviser la valeur 'first_game' en deux colonnes distinctes pour la ville et l'anne
df_merge[['city_location', 'year1']] = df_merge['first_game'].str.split(n=1, expand=True)

df_merge.head()

,discipline_title,event_title,event_gender,participant_type,athlete_full_name,country_name,games_participations,first_game,athlete_year_birth,nb_gold,...,index,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year,city_location,year1
0,Curling,Mixed Doubles,Mixed,GameTeam,Stefania CONSTANTINI,Italy,1,Beijing 2022,1999,1,...,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022,Beijing,2022
1,Curling,Mixed Doubles,Mixed,GameTeam,Almida DE VAL,Sweden,1,Beijing 2022,1997,0,...,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022,Beijing,2022
2,Curling,Mixed Doubles,Mixed,GameTeam,Oskar ERIKSSON,Sweden,4,Beijing 2022,1991,1,...,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022,Beijing,2022
3,Freestyle Skiing,Men's Freeski Big Air,Men,Athlete,Birk RUUD,Norway,1,Beijing 2022,2000,1,...,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022,Beijing,2022
4,Freestyle Skiing,Men's Freeski Big Air,Men,Athlete,Colby STEVENSON,United States of America,1,Beijing 2022,1997,0,...,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022,Beijing,2022

In [33]:
#supprimer les colonnes qui nont pas d'influence sur notre predidction 
df_merge.drop(columns=['year','game_slug','year1' , 'first_game', 'game_name', 'index'], inplace=True)

In [34]:
df_merge.head()

,discipline_title,event_title,event_gender,participant_type,athlete_full_name,country_name,games_participations,athlete_year_birth,nb_gold,nb_silver,nb_bronze,Medals,game_end_date,game_start_date,game_location,game_season,game_year,city_location
0,Curling,Mixed Doubles,Mixed,GameTeam,Stefania CONSTANTINI,Italy,1,1999,1,0,0,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing
1,Curling,Mixed Doubles,Mixed,GameTeam,Almida DE VAL,Sweden,1,1997,0,0,1,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing
2,Curling,Mixed Doubles,Mixed,GameTeam,Oskar ERIKSSON,Sweden,4,1991,1,1,2,4,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing
3,Freestyle Skiing,Men's Freeski Big Air,Men,Athlete,Birk RUUD,Norway,1,2000,1,0,0,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing
4,Freestyle Skiing,Men's Freeski Big Air,Men,Athlete,Colby STEVENSON,United States of America,1,1997,0,1,0,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing

In [35]:
df.isnull().sum()

discipline_title        0
event_title             0
event_gender            0
participant_type        0
athlete_full_name       0
country_name            0
games_participations    0
first_game              0
athlete_year_birth      0
nb_gold                 0
nb_silver               0
nb_bronze               0
year                    0
Medals                  0
dtype: int64

In [36]:
# Afficher le dcompte de chaque valeur unique dans la colonne 'country_name'
country_counts = df_merge['country_name'].value_counts()

# Dfinir l'option max_rows sur None pour afficher toutes les lignes
pd.set_option('display.max_rows', None)

# Afficher tous les pays et leurs dcomptes
print(country_counts)

country_name
United States of America                 3764
Soviet Union                             1818
Germany                                  1365
Great Britain                            1036
France                                   1019
Italy                                     989
German Democratic Republic (Germany)      930
Sweden                                    854
People's Republic of China                849
Hungary                                   775
Japan                                     761
Norway                                    713
Australia                                 705
Finland                                   698
Canada                                    629
Netherlands                               577
Austria                                   542
Russian Federation                        514
Switzerland                               494
Romania                                   490
Poland                                    486
Federal Republic of Germany               398
Bulgaria                                  353
Republic of Korea                         329
Cuba                                      302
Czechoslovakia                            277
Denmark                                   250
Spain                                     232
New Zealand                               217
Brazil                                    175
Belgium                                   170
Unified Team                              166
Turkey                                    152
Kenya                                     147
Ukraine                                   133
Yugoslavia                                132
Czech Republic                            122
Argentina                                 115
South Africa                              107
Greece                                    105
Mexico                                    101
ROC                                        98
Islamic Republic of Iran                   88
Jamaica                                    88
Belarus                                    84
Kazakhstan                                 78
Ethiopia                                   70
Democratic People's Republic of Korea      68
Estonia                                    65
Slovenia                                   62
Croatia                                    56
Ireland                                    52
Indonesia                                  52
Slovakia                                   45
Portugal                                   44
Colombia                                   44
Thailand                                   41
Latvia                                     40
Chinese Taipei                             38
Georgia                                    38
Egypt                                      38
Azerbaijan                                 34
Uzbekistan                                 33
Morocco                                    32
Lithuania                                  28
Venezuela                                  28
Trinidad and Tobago                        25
India                                      25
Nigeria                                    23
Algeria                                    23
Philippines                                20
Tunisia                                    20
Mongolia                                   20
Liechtenstein                              19
Bahamas                                    18
Malaysia                                   17
Chile                                      17
Armenia                                    17
Uganda                                     16
Serbia                                     16
Puerto Rico                                15
Israel                                     14
Uruguay                                    13
Olympic Athletes from Russia               11
Hong Kong, China                           10
Qatar                                      10
Independent Olympic Athletes                9
MIX                                         9
Namibia                                     9
Dominican Republic                          9
Lebanon                                     8
Serbia and Montenegro                       8
Ecuador                                     7
Australasia                                 7
Cameroon                                    7
Luxembourg                                  7
Ghana                                       7
Republic of Moldova                         7
Zimbabwe                                    7
Kyrgyzstan                                  6
Kuwait                                      5
Cte d'Ivoire                               5
Panama                                      5
Costa Rica                                  5
Iceland                                     5
Zambia                                      4
Suriname                                    4
Mozambique                                  4
United Republic of Tanzania                 4
Bahrain                                     4
Vietnam                                     4
Tajikistan                                  4
San Marino                                  4
Syrian Arab Republic                        4
Grenada                                     3
Sri Lanka                                   3
Jordan                                      3
Bermuda                                     3
Kosovo                                      3
United Arab Emirates                        2
Peru                                        2
Saudi Arabia                                2
North Macedonia                             2
Netherlands Antilles                        2
Guyana                                      2
Afghanistan                                 2
Iraq                                        2
West Indies Federation                      2
Haiti                                       2
Bohemia                                     2
Virgin Islands, US                          2
Djibouti                                    2
Senegal                                     2
Burundi                                     2
Singapore                                   2
Sudan                                       1
Gabon                                       1
Niger                                       1
Barbados                                    1
Cyprus                                      1
Tonga                                       1
Togo                                        1
Guatemala                                   1
Samoa                                       1
Eritrea                                     1
Botswana                                    1
Turkmenistan                                1
Burkina Faso                                1
Mauritius                                   1
Name: count, dtype: int64

In [37]:
replacement_dict = {
    'United States of America': 'USA',
    'Soviet Union': 'Russia',
    'German Democratic Republic (Germany)': 'Germany',
    'People\'s Republic of China': 'China',
    'Russian Federation': 'Russia',
    'Federal Republic of Germany': 'Germany',
    'Republic of Korea': 'South Korea',
    'ROC': 'Russia',  # ROC fait rfrence  l'quipe olympique de Russie
   
}

In [38]:
df_merge['country_name'] = df_merge['country_name'].replace(replacement_dict)


df_merge.head()

,discipline_title,event_title,event_gender,participant_type,athlete_full_name,country_name,games_participations,athlete_year_birth,nb_gold,nb_silver,nb_bronze,Medals,game_end_date,game_start_date,game_location,game_season,game_year,city_location
0,Curling,Mixed Doubles,Mixed,GameTeam,Stefania CONSTANTINI,Italy,1,1999,1,0,0,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing
1,Curling,Mixed Doubles,Mixed,GameTeam,Almida DE VAL,Sweden,1,1997,0,0,1,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing
2,Curling,Mixed Doubles,Mixed,GameTeam,Oskar ERIKSSON,Sweden,4,1991,1,1,2,4,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing
3,Freestyle Skiing,Men's Freeski Big Air,Men,Athlete,Birk RUUD,Norway,1,2000,1,0,0,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing
4,Freestyle Skiing,Men's Freeski Big Air,Men,Athlete,Colby STEVENSON,USA,1,1997,0,1,0,1,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Winter,2022,Beijing

In [39]:
df_merge.to_excel('olympic_data.xlsx', index=False)